@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

html{
  background: white;
  font-family: "Open Sans", sans-serif;
  overflow-y: scroll;

}

html body[data-scroll-locked] {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

